@page
@model KonohagoWebApp.Pages.RestaurantModel
@{
    ViewData["Title"] = "Restaurant";
}

<head>
    <link rel="stylesheet" href="~/css/restaurant.css">
</head>
<body>
    <center>
        <img width="90%" src="https://thumb.tildacdn.com/tild6430-3833-4337-a431-626132373164/-/format/webp/screen-menu_21.png">
        <img width="90%" src="https://thumb.tildacdn.com/tild6365-6463-4534-b865-653337663637/-/format/webp/screen-menu_21-2.png">
        <img width="90%" src="https://thumb.tildacdn.com/tild3034-6537-4363-b266-306335666632/-/format/webp/screen-menu_21-beer2.png">
    </center>
</body>
